html,
body {
  height: 100%;
}

.has-border {
  border: 0.25rem solid $dark;
}

.has-primary-border {
  border: 0.25rem solid $orange;
}

.button.is-primary:not('is-outlined') {
  text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.2);
}

.is-primary {
  background: $orange;
}

.is-dark {
  background: $dark;
}

.is-light {
  background: $light;
}