html,
body {
  height: 100%;
}

.button.is-primary:not(.is-outlined) {
  text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.2);
}

////////////////////////////////////////////////
////////////////////////////////////////////////
// Page transitions

.page-enter-active, .page-leave-active {
  transition: opacity 250ms;
}
.page-enter, .page-leave-to {
  opacity: 0;
}