@import "~bulma/sass/utilities/initial-variables";

////////////////////////////////////////////////
////////////////////////////////////////////////
// 1. Initial variables

// Colors
$orange: #f36c00;
$orange-invert: #fff;

// Miscellaneous
$radius-small: 0;
$radius: 0;
$radius-large: 0;

////////////////////////////////////////////////
////////////////////////////////////////////////
// 2. Primary colors

$primary: $orange;
$primary-invert: $orange-invert;

@import "~bulma/sass/utilities/functions";
@import "~bulma/sass/utilities/derived-variables";
@import "~bulma/sass/utilities/animations";
@import "~bulma/sass/utilities/mixins";
@import "~bulma/sass/utilities/controls";

////////////////////////////////////////////////
////////////////////////////////////////////////

$sidebar: 35vw;
$sidebar-min: 876px;  
$padding-large: 5vw;